  <form action="/problems/<%= num %>" method="POST">
    <div class="mb-3">
      <label for="ans" class="form-label">回答</label>
      <input type="text" class="form-control" id="ans" name="ans" required>
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
  </form>