<nav class="nav align-items-center">
    <a class="nav-link" href="/">戻る</a>
    <a class="nav-link" href="/problems/<%= num %>">問題</a>
    <a class="nav-link" href="/problems/<%= num %>/editorial">解説と解答</a>
</nav>