<%- include('partials/head') %>
<div class="container mt-4">
    <h1>
        ホワイトハッカー体験
    </h1>
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>タイトル</th>
                <th>クリア</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="/problems/1">辞書攻撃</a></td>
                <td>未</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/problems/2">Cookie改ざん&#x1f36a;</a></td>
                <td>まだ</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/problems/3">SQLインジェクション</a></td>
                <td>まだ</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="/problems/4">フィッシングメール</a></td>
                <td>まだ</td>
            </tr>
                    <tr>
                <td>5</td>
                <td><a href="/problems/5">BASE64デコード</a></td>
                <td>まだ</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('partials/footer') %>