<%- include('../../partials/head') %>
<div class="container mt-4">
    <h1>
        秘密のページ！
    </h1>
    <h2>
        答え！: namine
    </h2>
    <p>
        <%= darkmode %>
        <%= country %>
    </p>
</div>
<%- include('../../partials/footer') %>